<div id="about" class="container-about">
  <h2>OUR AIR FLEET</h2>
  <div style="background-color: rgba(0, 0, 0, 0.226);">


  </div>

  <div class="row align-items-center planes">
    <div class="col container person" (click)="openDialogOne()">
      <div class="container-inner">
        <img
          class="circle"
          src="../../../assets/photos/globe-removebg-preview.png"
        />
        <img class="img img1" src="../../../assets/photos/airbus2.png" />
        <div class="divider"></div>
        <div class="name">AIRBUS</div>
      </div>
    </div>
    <div class="col container person" (click)="openDialogTwo()">
      <div class="container-inner">
        <img
          class="circle"
          src="../../../assets/photos/globe-removebg-preview.png"
        />
        <img class="img img1" src="../../../assets/photos/boeing-removebg-preview (1).png" />
        <div class="divider"></div>
        <div class="name">BOEING</div>
      </div>
    </div>
    <div class="col container person" (click)="openDialogThree()">
      <div class="container-inner">
        <img
          class="circle"
          src="../../../assets/photos/globe-removebg-preview.png"
        />
        <img class="img img1" src="../../../assets/photos/embraer-removebg-preview.png" />

        <div class="divider"></div>
        <div class="name">EMBRAER</div>
      </div>
    </div>
  </div>
</div>
