<nav
  class="navbar"
  (scroll)="onscroll()"
  [ngClass]="navbarfixed ? 'fixed' : 'nav'"
>
  <div class="container">
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a href="" class="navbar-brand"
      ><span class="word">LO</span><span class="word-small">NG-wings</span></a
    >
    <ul class="ul-list">
      <li>
        <a (click)="toHome()" routerLink="/home"  class="active">Home</a>
      </li>
      <li><a (click)="toAbout()" routerLink="/about">About</a></li>
      <li><a (click)="toOffer()" routerLink="/offer">Offer</a></li>
      <li><a (click)="toDestination()" routerLink="/destination">Destination</a></li>
      <li>
        <button type="button" class="learn-more" (click)="openDialog()">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Book a flight</span>
        </button>
      </li>
    </ul>
  </div>
</nav>

