<div class="container">
  <div class="plane">
    <div class="cockpit cabin">
      <div class="type-plane">
        <h3 class="plane-name">{{planeName}}</h3>
    </div>

    <!-- Showing a static legend bar -->
    <div class="legend">
        <span class="selectedSeat glyphicon glyphicon-stop freeSeat"></span> FREE
        <span class="selected glyphicon glyphicon-ban-circle reservedSeat padding-left"></span> TAKEN
        <span class="selected glyphicon glyphicon-ok-sign selectedSeat padding-left"></span> SELECTED
    </div>
    </div>
    <div class="exit exit--front fuselage"></div>
    <ol class="cabin fuselage">
      <div class="seat-row" *ngFor="let row of rows; index as i">
        <span class="seat" *ngFor="let col of cols; index as j" (click)="seatClicked(row + col)"
                [ngSwitch]="getStatus(row + col)">

            <span *ngSwitchCase="'selected'" class="glyphicon glyphicon-ok-sign selectedSeat"></span>
            <span *ngSwitchCase="'reserved'" class="glyphicon glyphicon-ban-circle reservedSeat"></span>
            <span *ngSwitchDefault class="glyphicon glyphicon-stop freeSeat"></span>
        </span>
    </div>

    <!-- Structural directive - only visible on selection -->
    <div *ngIf="selected.length > 0" class="font14 marginTB10">
        <div class="wordWrap">SEATS RESERVED : {{selected.length}} <span class="count">({{selected}})</span></div>
        <div>PRICE : {{ticketPrice}} * {{selected.length}} = {{currency}}.{{ticketPrice*selected.length}} </div>
        <div>CONVENIENCE FEE : {{currency}}.{{convFee}}</div>
        <div>TOTAL : {{currency}}.{{ticketPrice * selected.length + convFee}}</div>
    </div>

    <!-- Action buttons -->
    <div class="buttonBar marginTop5">
        <button (click)="clearSelected()" [disabled]="selected.length === 0" class="btn btn-default btn-sm">Clear</button>
        <button (click)="showSelected()" [disabled]="selected.length === 0" class="btn btn-success btn-sm">Buy Tickets</button>
    </div>
    </ol>
  <div class="exit exit--back fuselage"></div>
  </div>
</div>


