.plane-name {
    font-size: 10px;
    padding-top: 10px;
    margin-top: -3px;
}

.legend {
    font-size: 14px;
}



.plane {
  margin: 20px auto;
  max-width: 400px;
}

.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}
.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}

.exit {
  position: relative;
  height: 50px;
}
.exit:before, .exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 2px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: green;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}




.cabin {
  display: block;
}

.cabin:before {
  margin: 100px auto 35px auto;
}
.cabin:after {
  margin: 100px auto 35px auto;
}

.horizontal {
  float: left;
  clear: none;
}






//////////SEATS////////////

.seat-row{
  padding: 30px;
}

.seat{
  padding: 10px;


  .reservedSeat {

    width: 30px;
    height: 40px;
    background: #ce4844;
    color: white;
    border-radius: 12px 12px 0 0;
    border-width: 0 3px;
    border-style: solid;
    border-color: #f5f5f5;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 20px;


  }
  .selectedSeat {

    width: 30px;
    height: 40px;
    background: #2ac30b;
    color: white;
    border-radius: 12px 12px 0 0;
    border-width: 0 3px;
    border-style: solid;
    border-color: #f5f5f5;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 20px;
  }
  .freeSeat {

    width: 30px;
    height: 40px;
    background: #6244ce;
    color: white;
    border-radius: 12px 12px 0 0;
    border-width: 0 3px;
    border-style: solid;
    border-color: #f5f5f5;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 20px;
  }
}

