<div class="row">
  <form
    class="col s12"
    [formGroup]="visitorDataForm"
    (ngSubmit)="addVisitDetails()"
  >
    <div class="row">

        <mat-form-field class="col-3" appearance="fill">
          <mat-label>Name</mat-label>
          <input  matInput
          formControlName="passengerName"
          [(ngModel)]="passengerName"
          #passengerNameData
          placeholder="Name"
          id="passengerName"
          type="text"
          class="validate">
        </mat-form-field>


      <!-- INPUT -->
      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Familly Name</mat-label>
        <input  matInput
        class="validate"
        type="text"
        formControlName="passengerFamilyName"
        [(ngModel)]="passengerFamilyName"
        #passengerFamilyNameData
        placeholder="Family name"
        id="passengerFamilyName">
      </mat-form-field>


      <!-- INPUT -->
      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Depart</mat-label>
        <mat-select
          id="inputFrom"
          [(ngModel)]="selectedOptionCityFrom"
          formControlName="cityFrom"
          #cityFromDataValue
          id="cityFrom"
          [value]="from"
        >
          <mat-option *ngFor="let cityFrom of optionsCityFrom" [value]="from">{{
            cityFrom.from
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- INPUT -->
      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Arrive</mat-label>
        <mat-select
          [(ngModel)]="selectedOptionCityTo"
          id="inputTo"
          #cityToDataValue
          formControlName="cityTo"
          [value]="to"
        >
          <mat-option *ngFor="let cityTo of optionsCityTo" [value]="to">
            {{ cityTo.to }}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>
    <div class="row">

      <div class="col-3">
      <input
        type="date"
        [(ngModel)]="dateDepar"
        formControlName="dateDepar"
        #dateBordValue
        class="form-control textForm-bottom-row"
        id="inputDate"
      />
      </div>

<!-- INPUT -->
      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Passenger</mat-label>
        <input  matInput
        formControlName="passenger"
        [(ngModel)]="passenger"
        #passengerNameData
        id="passenger"
        type="number"
        class="validate">
      </mat-form-field>
      <!-- INPUT -->
      <mat-form-field class="col-3" appearance="fill">
        <mat-label>Arrive</mat-label>
        <mat-select
        [(ngModel)]="selectedOptionClass"
        id="inputClass"
        formControlName="class"
        class="textForm-bottom-row"
        [value]="class">
        >
          <mat-option *ngFor="let flyClass of optionsClass" [value]="class">
            {{ flyClass.class }}
          </mat-option>
        </mat-select>
      </mat-form-field>





    </div>
  </form>

</div>

