<div class="row flex-column insp-row">
  <div class="col-md-6 insp-item-wrap rb-inspiration-0" id="the-right-flight-for-you-always-card-1">
<a href="javascript:void(0);" target="_blank" class="insp-img-link-wrap insp-enable-popup" data-popup-id="rbInspirationPopup0">
<div class="insp-img-box
rb-video-widget-wrap" style="background-image: url(//tjwlcdn.com/cms/rb-explore/story-cards/tmantajawal/T-man-en.png?v=1)" data-popup-id="rbInspirationPopup0">

                                  <h3 class="insp-hd">
  The right flight for you - always                                        </h3>
                                  <div class="insp-tag-line">
  <p>We have everything in place to make sure you find the perfect flight. t-Man has it all sorted!</p>                                        </div>
                              <span class="insp-btn" data-popup-id="rbInspirationPopup0">
Watch t-Man in action                                </span>
</div>
</a>
</div>
  <div class="col-md-6 insp-item-wrap rb-inspiration-1" id="explore-the-teeming-metropolis-of-tokyo-card-2">
<a href="en/flights/DXB-TYO/2019-06-11/2019-06-20/Economy/1Adult" target="_blank" class="insp-img-link-wrap " data-popup-id="rbInspirationPopup1">
<div class="insp-img-box
" style="background-image: url(//tjwlcdn.com/cms/rb-explore/story-cards/Tokyo-Small-Story-Card-555x180-EN.png)" data-popup-id="rbInspirationPopup1">

                                  <h3 class="insp-hd">
  Explore the teeming metropolis of Tokyo                                        </h3>
                                  <div class="insp-tag-line">
  <p>Experience the pulse of the futuristic capital city of Japan that's always on the move!</p>                                        </div>
                              <span class="insp-btn" data-popup-id="rbInspirationPopup1">
Search flights                                </span>
</div>
</a>
</div>
  <div class="col-md-6 insp-item-wrap rb-inspiration-2" id="explore-the-lush-indian-ocean-paradise-card-3">
<a href="en/flights/DXB-MLE/2019-06-11/2019-06-20/Economy/1Adult" target="_blank" class="insp-img-link-wrap " data-popup-id="rbInspirationPopup2">
<div class="insp-img-box
" style="background-image: url(//tjwlcdn.com/cms/rb-explore/story-cards/Maldives-Small-Story-Card-AR.png?v=1)" data-popup-id="rbInspirationPopup2">

                                  <h3 class="insp-hd">
  Explore the lush Indian Ocean paradise!                                        </h3>
                                  <div class="insp-tag-line">
  <p>Experience the island luxury &amp; flourishing green of Maldives &amp; return home rejuvenated!</p>                                        </div>
                              <span class="insp-btn" data-popup-id="rbInspirationPopup2">
Search flights                                </span>
</div>
</a>
</div>
</div>