:host {
  background-color: rgba(0, 0, 0, 0.397);
}
.plane-container {
  width: 100%;
  height: 80vh;
  padding: 60px;
  background-color: rgba(156, 156, 156, 0.548);
  .row-plane{
    padding-top: 10px;
    padding-bottom: 30px;
    .plane-name {
      margin: auto 0;
      .name {
        font-size: 3rem;
        font-weight: bold;
        padding: 5px;
      }
      .model {
        font-size: 1.5rem;
        margin-left: 160px;
        padding: 5px;
        font-weight: bold;
        color: white;
      }
    }
    .plane-modal{
      width: 20vw;
    }
  }
  .plane-info{
    font-size: 0.8rem;
    text-align: justify;
    text-justify: inter-word;
  }
}
