<div class="plane-schema">
  <section class="business">
    <div class="schema-row">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="seat" data-seat="0D">0D</div>
      <div class="seat" data-seat="0F">0F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="1A">1A</div>
      <div class="seat occupied" data-seat="1B">1C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="1D">1D</div>
      <div class="seat" data-seat="1F">1F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="2A">2A</div>
      <div class="seat " data-seat="2C">2C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="2D">2D</div>
      <div class="seat" data-seat="2F">2F</div>
    </div>
  </section>
  <section class="economy">
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
    <div class="schema-row">
      <div class="seat" data-seat="3A">3A</div>
      <div class="seat" data-seat="3B">3B</div>
      <div class="seat " data-seat="3C">3C</div>
      <div class="spacer"></div>
      <div class="seat" data-seat="3D">3D</div>
      <div class="seat" data-seat="3E">3E</div>
      <div class="seat" data-seat="3F">3F</div>
    </div>
  </section>
  <section class="zero"></section>
</div>
