<app-progress #progress (stateChange)="onStateChange($event)">
  <app-progress-step>
    <h1>step 1</h1>
    <h3>Book a flight</h3>
    <p>
      Book a flight with Long Wings. Find best fares to destinations around the world and explore the world with safety.
    <br>* Please check the latest travel regulations before your fly.
    </p>
    <button mat-raised-button color="primary" (click)="goNext(progress)">
      next
    </button>
  </app-progress-step>
  <app-progress-step>
    <h1>step 2</h1>
    <form>
    <app-book-form-section></app-book-form-section>

      <div class="col-md-4">
        <button progressStepPrev mat-raised-button color="accent">prev</button>
        <button
          style="margin-left: 10px"
          progressStepNext
          [disabled]="!visitorDataForm"
          mat-raised-button
          color="primary"
        >
          next
        </button>
      </div>

    </form>
  </app-progress-step>
  <app-progress-step>
    <seat-list></seat-list>
    <button progressStepPrev mat-raised-button color="accent">prev</button>
    <button progressStepNext mat-raised-button color="primary">next</button>
  </app-progress-step>
  <app-progress-step>
    <h1>step 4</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda sint
      consectetur est quos voluptatem eveniet sed maxime exercitationem officia.
    </p>
    <button progressStepPrev mat-raised-button color="accent">prev</button>
    <button progressStepNext mat-raised-button color="primary">next</button>
  </app-progress-step>
</app-progress>
