body {
  display: flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1506146332389-18140dc7b2fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Inconsolata, sans-serif;
  text-transform: capitalize;
}

.step-tree{
  background-color: #194f82;
}
.title {
  margin-top: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 70px 0 0 0;
  color: white;
  letter-spacing: 1px;
}
.title-p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}



///////////card///////////////////
.container {
  display: flex;
  justify-content: center;
}
.left {
  flex: 70%;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffc10d;
  display: flex;
  flex-direction: column;
  min-width: 550px;
  border-right: 8px dotted #444;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  background-color: #194f82;
  color: #fff;
}

.fromto {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fromto > svg {
  width: 30%;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 11 0px;
}
.info-container {
  display: flex;
  align-items: center;
  width: 275px;
  line-height: 0;
}
.info-container-text {
  padding-left: 20px;
  margin: 0;
  padding: 0;
}
.info-container-text-right{
  margin: 0;
  padding: 0;
}
.footer {
  position: relative;
}
.footer-left {
  display: flex;
  align-items: center;
  padding: 15px 50px;
  background-color: #194f82;
  clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
}
.footer-filler {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(25, 79, 130, 0.2);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 30% 100%);
}
.right {
  flex: 30%;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffc10d;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  position: relative;
}
.right-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #194f82;
  color: #fff;
  padding: 16px 10px;
}
.ltr {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}
.right-info {
  display: flex;
  margin-bottom: 5%;
}
.right-body {
  display: flex;
  flex-direction: column;
}
.rbottom {
  position: absolute;
  bottom: 10px;
}
.right-footer {
  padding: 18px;
  background-color: rgba(25, 79, 130, 1);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.footerfiller {
  position: absolute;
  top: 0;
  right: -200%;
  background-color: rgba(25, 79, 130, 0.2);
  clip-path: polygon(100% 0, 100% 85%, 20% 85%, 34% 0);
}




  .closeBtn{
    border: none;
    margin-top: 20px;
    margin: 20, 50%;
    background-color: #ffc10d;
    width: 40%;
  }
  .navbar-brand {
    color: #fff;
    padding: 0 20px 0px 20px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
  }
  .word {
    color: #095eb9;
    background-color: #fff;
    padding: 5px 0 2px 5px;
    font-size: 25px;
    font-weight: bold;
  }
  .word-small {
    color: white;
    font-size: 15px;
  }


@media (max-width: 800px) {
  .title {
    margin-top: 5px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 30px 0 0 0;
    color: white;
    letter-spacing: 1px;
  }
  .title-p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    padding-left: 400px;
    padding-right: 400px;
  }
}

/////////////
///
.carousel__btn {
  position: absolute;
  width: 100%;
  top: 40vh;
  left: 0;
  z-index: 1;

  .btn {
    position: absolute;
    top: 0;
    color: white;
    background: #095eb9;
    padding: 15px 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: .8rem;
    transition: padding .25s ease;
    &:hover {
      background-color: #fff;
      color: #095eb9;;
     }
  }

  .btn--left {
    border-radius: 50px;
    border: none;
  }

  .btn--right {
    right: 0;
    border-radius: 50px;
    border: none;
  }
}


