<div class="header-photo">
  <div class="shadow-box">
    <a class="btn" (click)="toTicket()">
      <span>
        <span>
          <span>Go to Your ticket!</span>
        </span>
      </span>
    </a>
    <div class="text-box">
      <h2 class="text">beijing</h2>
      <span class="text-span">
        “One World One Dream.”
      </span>
    </div>
  </div>
</div>
<section class="info">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/photos/pekin.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="../../../assets/photos/pekin3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row about-city">
    <h3>Information about <span style="color: white; font-weight: bold; margin-left: 5px;"> BEIJING</span></h3>
    <p class="col-12 text-about">
      Boston, city, capital of the commonwealth of Massachusetts, and seat of
      Suffolk county, in the northeastern United States. It lies on
      Massachusetts Bay, an arm of the Atlantic Ocean. The city proper has an
      unusually small area for a major city, and more than one-fourth of the
      total—including part of the Charles River, Boston Harbor, and a portion of
      the Atlantic—is water. Area city, 46 square miles (119 square km). Pop.
      (2010) 617,594; Boston-Quincy Metro Division, 1,887,792;
      Boston-Cambridge-Quincy Metro Area, 4,552,402; (2020) 675,647; Boston
      Metro Division, 2,054,736; Boston-Cambridge-Newton Metro Area, 4,941,632.
    </p>
    <img
            src="../../../assets/photos/pekin.jpg"
            class="col-12"
            alt="..."
          />
  </div>
</section>

