<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          LongWings is the flag carrier airline of the United Kingdom. It is
          headquartered in London, England, near its main hub at Heathrow
          Airport. The airline is the first largest UK based carrier, based on
          fleet size and passengers carried. LongWings is the first passenger
          airline to have generated more than US$1 billion on a single air route
          in a year (from 1 April 2017, to 31 March 2018, on the New York-JFK -
          London-Heathrow route). LW was created in 1974 after a LongWings Board
          was established by the British government to manage the two
          nationalised airline corporations, British Overseas Airways
          Corporation and British European Airways, and two regional airlines,
          Cambrian Airways and Northeast Airlines.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">Plane</a></li>
          <li>
            <a href="">Hotel</a>
          </li>
          <li>
            <a href="">Cars</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">Home</a></li>
          <li><a href="http://scanfcode.com/about/">Our fleet</a></li>
          <li><a href="http://scanfcode.com/contact/">Offers</a></li>
          <li>
            <a href="http://scanfcode.com/contribute-at-scanfcode/"
              >Destination</a
            >
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2022 All Rights Reserved by
          <a href="#">LongWings</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
