<div class="container plane-container">
  <div class="row row-plane">
    <div class="col plane-name">
      <span class="row name">BOEING</span>
      <span class="row model">747</span>
    </div>
    <div class="col">
      <img
        class="plane-modal"
        src="../../../assets/photos/boeing-removebg-preview (1).png"
        alt="Photo of Boeing 747"
      />
    </div>
  </div>
  <span class="plane-info">
    The First Class and Business Class sections of the 747-8 enable airlines to
    offer passengers the most private and premium accommodations in the sky. So
    it's no surprise that on high-volume routes the 747-8 offers premium revenue
    potential. And with more than 400 seats available, this 747 creates a unique
    opportunity to maximize the bottom-line potential of any high-volume route.
    It's premium value, delivered, for operators and passengers. That's a better
    way to fly.
  </span>
</div>
