<div class="container plane-container">
  <div class="row row-plane">
    <div class="col plane-name">
      <span class="row name">AIRBUS</span>
      <span class="row model">350</span>
    </div>
    <div class="col">
      <img
        class="plane-modal"
        src="../../../assets/photos/airbus2.png"
        alt="Photo of Airbus 350"
      />
    </div>
  </div>
  <span class="plane-info">
    <p>Like all members of Airbus’ family of modern jetliners, the A340-300
      features a number of key innovations, including fly-by-wire flight controls,
      which bring increased flight protection as well as weight and cost savings;
      advanced weight-saving materials such as carbon fibre; and fuel-saving
      aerodynamics. Commonality with Airbus’ family of fly-by-wire jetliners also
      brings important reductions in training and maintenance costs, providing
      customers with an important competitive advantage. Under the main deck, the
      A340’s large cargo holds provide voluminous capacity for extra revenue. With
      large cargo doors standard, it can accommodate industry-standard LD3
      containers in side-by-side loading. The A340-300’s forward hold can hold six
      96-inch pallets or 18 LD3 containers, while the aft hold accepts 14 LD3s or
      a mix of three 96-inch pallets and two 88-inch pallets. The A340-300
      demonstrates outstanding environmental efficiencies, including low fuel-burn
      and reduced engine emissions, while the decreased noise signature
      comfortably meets international standards. The A340-300 provides the best
      economy in its class, reaching a 5 per cent lower fuel per trip compared to
      competing aircraft.</p>
  </span>
</div>
