<footer>
  <div class="container">
    <div class="d-inline p-2">
      <span class="copyright">Copyright © Your Website 2014</span>
    </div>
    <div class="d-inline p-2">
      <!-- Facebook -->
      <i class="fab fa-facebook-f"></i>

      <!-- Twitter -->
      <i class="fab fa-twitter"></i>

      <!-- Google -->
      <i class="fab fa-google"></i>
    </div>
    <div class="d-inline p-2">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
    </div>
  </div>
</footer>
