.banner {
  height: 150px;
  background: linear-gradient( to bottom, 
  rgba(0,0,0, .4),
  rgba(0,0,0,.6)),
      url('https://i.imgur.com/QfimjM6.jpg');
  color: #FFF;
  text-align: center;
padding-top: 30px;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;
}

.banner h1 {
  font-size: 3em;
}