@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/scss/bootstrap';

mat-dialog-container {

  background-image: url(./assets/photos/image.jpg) !important;
  background-size: cover !important;
  background-position: center important;
  padding: 0px 0px 0px 0px !important;
  width: 100vw;

}
